@font-face {
  font-family: customFonts;
  src: url(fonts/space_font.otf);
}

h1 {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: #5591a9;
  font-family: customFonts;
  font-size: 60px;
  letter-spacing: 4px;
}

body {
  background-color: black;
}

div.column.left {
  margin-top: 20px;
  background-color: white;
  padding-left: 3%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 50%;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  border-color: black;
  max-height: 10px;
  overflow: scroll;
}

.column {
  float: left;
}

.left {
  width: 20%;
}

.right {
  display: grid;
  place-items: center;
  padding-left: 6%;
  padding-right: 3%;
  padding-top: 1.5%;
  padding-bottom: 40%;
  width: 60%;
}

#planet-list {
    display:flex;
    justify-content: center;
    box-shadow: 0 0 50px 0 #9ccddc;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px;
    background-color: black;   
}

@media (max-width: 1160px) {
  #planet-list {
    flex-direction: column;
  }
}

.planet-list-image {
    padding: 10px;
    border-radius: 80px;
    transition: transform 500ms ease;
    width: 100px;
    height: 100px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 900px;
    /* display: none;     */
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

#grid {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  padding: 30px;
  max-width: 900px;
  max-height: 200px;
  padding-top: 50px;
}

.grid_image {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  max-width: 100px;
  max-height: 100px;
  margin-top: 20px;
}

#main_image {
  margin-top: 20px;
}