@font-face {
  font-family: rocketWildness;
  src: url(./assets/fonts/rocket-wildness.ttf);
}

@font-face {
  font-family: moonBold;
  src: url(./assets/fonts/Moon2.0-Bold.otf);
}

@font-face {
  font-family: moonFont;
  src: url(./assets/fonts/Moon2.0-Regular.otf);
  /* src: url(./assets/fonts/Moon2.0-Regular.otf) format('otf'),
       url(./assets/fonts/Moon2.0-Bold.otf) format('otf'),
       url(./assets/fonts/Moon2.0-Light.otf) format('otf'); */
}
#outer-boundary {
  padding-top: 50px;
  padding-left: 50px;
  padding-right:50px;
  padding-bottom: 100px
}

header {
  border-style: solid;
  box-shadow: 0 0 50px 0 #9ccddc;
  transition: 0.3s;
  border-radius: 10px;
  padding: 10px;
}
.boundary {
  padding-top:50px;
  padding-bottom:50px
}

h1 {
  padding-bottom: 5%;
  color: #5591a9;
  font-family: rocketWildness;
  font-size: 5vw;
  letter-spacing: 4px;
  text-align: center;

}

body {
  background-color: black;
}

div.column.left {
  margin-top: 20px;
  background-color: black;
  padding-left: 3%;
  padding-right: 1.5%;
  padding-top: 3%;
  padding-bottom: 60%;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 0 20px 0 #9ccddc;
  max-height: 10px;
  font-family: moonFont;
  overflow-y:scroll;
  transition: all 0.5s ease 0s;
  font-size: 1vw;
}

/* #scroll-issues {
    overflow-y:scroll;
} */

.row {
  padding-top: 5%;
}

.column.left p {
  color: white;
}

#featured-title {
  font-family: moonBold;
  font-size: larger
}

#featured-explain-scroll {
  padding-right:5px
}

#search-title {
  color: white;
}

.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  display: grid;
  justify-content: right;
  place-items: center;
  padding-left: 6%;
  padding-top: 2%;
  padding-bottom: 0%;
  width: 60%;
}

#planet-list {
    display:flex;
    justify-content: center;
    box-shadow: 0 0 50px 0 #9ccddc;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px;
    background-color: black;  
    padding-top: 3%;
    padding-bottom: 3%;    
}

@media (max-width: 1160px) {
  #planet-list {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 5vw;
  }

}

.planet-list-image {
    padding: 1.5%;
    border-radius: 80px;
    transition: transform 500ms ease;
    width: 100px;
    height: 100px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 900px;    
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

#grid {
  box-shadow: 0 0px 40px 0 #9ccddc; 
  transition: 0.3s;
  border-radius: 10px;
  padding: 30px;
  max-width: 900px;
  max-height: 200px;
  padding-top: 50px;
  margin-top: 20px; 
  /* display: none; */
}

.grid_image {
  padding: 10px;
  max-width: 100px;
  max-height: 100px;
  margin-top: 20px;
}

.grid_image {
  border-radius: 10px;
}

#main_image {
  box-shadow: 0 0 20px 0 #9ccddc;
  border-radius: 10px;
  margin-top: -1%;
}

#error-message {
  color: red;
  font-family: moonBold;
  letter-spacing: 1px;
}

#error-image {
  image-rendering: optimizeQuality;
}

.button {
  background-color: black;
  background-image: url(./assets/images/star-gif.gif);
  padding: 12px 28px;
  display: inline-block;
  text-decoration: none;
  font-size:16px;
  font-family:moonBold;
  border-radius: 5px;
  color: #9ccddc;
  cursor:pointer;
  transition: transform 3000ms ease;
}

#apod-button {
  background-color: black;
  background-image: url(./assets/images/sun.gif);
  padding: 12px 28px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 1px 2px black, 1px 2px black, 1px 2px black, 1px 2px black;
  font-size:16px;
  font-family:moonBold;
  border-radius: 5px;
  color: white;
  cursor:pointer;
  transition: transform 3000ms ease;
}

#arecibo-button {
  background-color: black;
  background-image: url(./assets/images/sun.gif);
  padding: 12px 28px;
  display: inline-block;
  text-decoration: none;
  text-shadow: 1px 2px black, 1px 2px black, 1px 2px black, 1px 2px black;
  font-size:16px;
  font-family:moonBold;
  border-radius: 5px;
  color: white;
  cursor:pointer;
  transition: transform 3000ms ease;
}

.button:hover {
  transform: scale(.75)
}

.input-text {
  background-color: black;
  color:#9ccddc;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 12px;
  font-size: 16px;
  
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
}
100% {
    transform: translateY(0);
}
}

h1 {  
  animation-duration: 3s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromAbove; /* the name of the animation we defined above */
  
  background:none;
}

#featured-source {
  color:lightskyblue;
  font-family: moonBold;
  letter-spacing: 1px;
}

.planet-list-image {
  transition: transform 500ms ease;
}

.planet-list-image:hover {
  transform: scale(1.5);
}

#bottom-boundary {
  /* position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0; */
  padding: 50px 50px 50px 50px;
}

#footer {
  padding: 50px 50px 50px 50px;
}