h1 {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

div.column.left {
    background-color: lightgray;
    padding-left: 3%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 70%;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
    border-color: black;
}

.column {
    float: left;
  }
  
  .left {
    width: 20%;
  }
  
  .right {
    display: grid;
    place-items: center;
    padding-left: 6%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 40%;
    width: 60%;
  }

